# 1.understanding the first populationg orca.table "nodes" step

In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
import os; 
os.chdir('..')
os.chdir('..')
import models
import datasources
import variables
import orca
import pandas as pd
import numpy as np

## [1] Here pay attention that price_vars orca.step shall be running after calling rsh_simulate and rrh_simulate
* "neighborhood_vars":accessibility variables
* "prices_vars": node-level variables for feasibility
normally should be run after hedonic regression

## [2] What are rsh_simulate and rrh_simulate?

```python
@orca.step('rsh_simulate')
def rsh_simulate(residential_units, unit_aggregations):
    return utils.hedonic_simulate("rsh.yaml", residential_units, 
    								unit_aggregations, "unit_residential_price")


@orca.step('rrh_estimate')
def rh_cl_estimate(craigslist, aggregations):
    return utils.hedonic_estimate("rrh.yaml", craigslist, aggregations)

```
## [3] Also in the simulations.py file

```python
try:
  orca.run([ 
    "neighborhood_vars",         # accessibility variables
    
    "rsh_simulate",              # residential sales hedonic
    "rrh_simulate",              # residential rental hedonic
    "nrh_simulate",              # non-residential rent hedonic

    #"households_relocation",
    "households_relocation_filtered",
    "households_transition",
    
    "hlcm_owner_simulate",       # location choice model for owners
    "hlcm_renter_simulate",      # location choice model for renters
    #"hlcm_simulate",
    #"hlcm_li_simulate",

    "jobs_relocation",
    "jobs_transition",
    "elcm_simulate",

    "price_vars",				# node-level variables for feasibility
    "price_to_rent_precompute",	# translate rental/ownership income into consistent terms

    "feasibility",				# calculate feasibility of all new building types
    
    "scheduled_development_events", # scheduled buildings additions
    "residential_developer",
    "non_residential_developer",
     
    "diagnostic_output",
    "travel_model_output"
], iter_vars=range(in_year, out_year))

```

In [3]:
orca.run([
    "neighborhood_vars",
    "rsh_simulate",
    "rrh_simulate",
    "price_vars",
], iter_vars=[2010])

Running iteration 1 with iteration value 2010
Running step 'neighborhood_vars'
Computing accessibility variables
Computing sum_residential_units
Computing sum_nonresidential_units
Computing ave_sqft_per_unit
Computing ave_lot_size_per_unit
Computing population
Computing poor
Computing blacks
Removed 3495 rows because they contain missing values
Computing whites
Removed 28069 rows because they contain missing values
Computing nonwhites
Removed 49824 rows because they contain missing values
Computing hispanics
Removed 5989 rows because they contain missing values
Computing asians
Removed 7970 rows because they contain missing values
Computing renters
Computing singles
Removed 49332 rows because they contain missing values
Computing two_persons
Removed 13712 rows because they contain missing values
Computing three_plus
Removed 14849 rows because they contain missing values
Computing sfdu
Computing ave_hhsize
Computing jobs
Computing jobs3k
Computing ave_income
       sum_residential_units  sum_nonresidential_units  ave_sqft_per_unit  \
count          226060.000000             226060.000000      226060.000000
mean                5.959514                  5.270251           7.233392
std                 1.829714                  2.601458           1.271166
min                 0.000000                  0.000000           0.000000
25%                 5.517122                  4.066589           7.258171
50%                 6.443733                  6.024277           7.414018
75%                 7.027597                  7.063817           7.592335
max                10.149053                 11.929914           8.699681

       ave_lot_size_per_unit     population           poor         blacks  \
count          226060.000000  226060.000000  226060.000000  226060.000000
mean                8.929344       6.825261       5.364635       3.762337
std                 1.933722       1.974621       1.966658       1.985225
min                 0.000000       0.000000       0.000000       0.000000
25%                 8.563902       6.400006       4.527863       2.571602
50%                 8.892104       7.388415       5.782141       3.990696
75%                 9.366335       7.991682       6.655470       5.062765
max                17.866968      10.553695      10.054707       8.750156

              whites      nonwhites      hispanics         asians  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        6.390700       5.622829       4.886818       4.885546
std         1.855341       2.080846       1.925889       2.101994
min         0.000000       0.000000       0.000000       0.000000
25%         6.033692       4.773838       3.933408       3.906737
50%         6.958466       6.063407       5.348966       5.286745
75%         7.492790       7.047009       6.210896       6.424274
max         9.882580       9.859282       8.948419       9.559209

             renters        singles    two_persons     three_plus  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        4.052805       4.558750       4.774927       5.060476
std         1.519068       1.708723       1.671906       1.730334
min         0.000000       0.000000       0.000000       0.000000
25%         3.515182       3.957136       4.270985       4.539877
50%         4.429089       4.860453       5.188659       5.569474
75%         5.041246       5.582700       5.798198       6.180494
max         7.257352       9.623764       8.827480       8.037095

                sfdu     ave_hhsize           jobs         jobs3k  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        5.343466       1.248253       5.301719       6.983664
std         1.749082       0.255478       2.241742       2.054048
min         0.000000       0.000000       0.000000       0.000000
25%         4.958143       1.199903       4.195786       6.308166
50%         5.906678       1.279776       5.800490       7.448098
75%         6.438469       1.367688       6.826318       8.248075
max         8.095656       2.079442      11.713364      12.193686

          ave_income
count  226060.000000
mean       10.934129
std         1.963387
min         0.000000
25%        11.037576
50%        11.259076
75%        11.488537
max        13.171155
Time to execute step 'neighborhood_vars': 95.55 s
Running step 'rsh_simulate'
count    2785789.000000
mean         432.864829
std          140.290611
min            4.735427
25%          338.619266
50%          409.556064
75%          500.407529
max         1472.557766
dtype: float64
Time to execute step 'rsh_simulate': 8.30 s
Running step 'rrh_simulate'
count    2785789.000000
mean           2.413680
std            0.843050
min            0.541656
25%            1.896269
50%            2.245036
75%            2.755954
max           21.624895
dtype: float64
Time to execute step 'rrh_simulate': 5.72 s
Running step 'price_vars'
Computing accessibility variables
Computing residential_price
Computing residential_rent
Computing retail
Computing office
Computing industrial
       residential_price  residential_rent  retail  office  industrial
count      226060.000000     226060.000000  226060  226060      226060
mean          407.111542          2.447601       0       0           0
std           111.799250          0.993465       0       0           0
min             0.000000          0.000000       0       0           0
25%           347.203743          1.973616       0       0           0
50%           405.754501          2.255504       0       0           0
75%           467.487679          2.746308       0       0           0
max          1257.188354         15.002967       0       0           0
Time to execute step 'price_vars': 61.02 s
Total time to execute iteration 1 with iteration value 2010: 170.60 s

In [4]:
hh = orca.get_table('households').to_frame()
hh[1:5]

,taz,serialno,puma5,income,persons,hht,unittype,noc,bldgsz,tenure,...,income_quartile,positive_income,node_id,black,asian,hisp,white,hhs3p,hhs1,hh_monthly_rent
household_id,,,,,,,,,,,,,,,,,,,,,
2687058,1092,8097339,2103,0,1,0,2,0,0,0,...,1,1,NaN,0,0,0,0,False,True,0
2687063,1092,3530666,2103,0,1,0,2,0,0,0,...,1,1,NaN,0,0,0,0,False,True,0
2214782,930,5691854,2402,159700,3,5,0,0,2,1,...,4,159700,NaN,0,0,0,1,True,False,0
2687065,1092,8097339,2103,0,1,0,2,0,0,0,...,1,1,NaN,0,0,0,0,False,True,0