##Updated HLCM estimation

Sam Maurer and Paul Waddell, August 2015

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os; os.chdir('..');os.chdir('..')
import models
import orca

In [3]:
orca.run(["neighborhood_vars"])

Running step 'neighborhood_vars'
Computing accessibility variables
Computing sum_residential_units
Filling column building_type_id with value 1 (0 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1966.0 (0 values)
Filling column non_residential_sqft with value 0 (0 values)
WARNING: this has the hard-coded version which unrealistically increases non-residential square footage to house all the base year jobs
Filling column _node_id with value 91839.0 (4 values)
Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)
Computing sum_nonresidential_units
Computing ave_sqft_per_unit
Computing ave_lot_size_per_unit
Computing population
Computing poor
Computing blacks
Removed 3495 rows because they contain missing values
Computing whites
Removed 28069 rows because they contain missing values
Computing nonwhites
Removed 49824 rows because they contain missing values
Computing hispanics
Removed 5989 rows because they contain missing values
Computing asians
Removed 7970 rows because they contain missing values
Computing renters
Computing singles
Removed 49332 rows because they contain missing values
Computing two_persons
Removed 13712 rows because they contain missing values
Computing three_plus
Removed 14849 rows because they contain missing values
Computing sfdu
Computing ave_hhsize
Computing jobs
Computing jobs3k
Computing ave_income
       sum_residential_units  sum_nonresidential_units  ave_sqft_per_unit  \
count          226060.000000             226060.000000      226060.000000
mean                5.959514                  5.270251           7.233392
std                 1.829714                  2.601458           1.271166
min                 0.000000                  0.000000           0.000000
25%                 5.517122                  4.066589           7.258171
50%                 6.443733                  6.024277           7.414018
75%                 7.027597                  7.063817           7.592335
max                10.149053                 11.929914           8.699681

       ave_lot_size_per_unit     population           poor         blacks  \
count          226060.000000  226060.000000  226060.000000  226060.000000
mean                8.929344       6.825261       5.364635       3.762337
std                 1.933722       1.974621       1.966658       1.985225
min                 0.000000       0.000000       0.000000       0.000000
25%                 8.563902       6.400006       4.527863       2.571602
50%                 8.892104       7.388415       5.782141       3.990696
75%                 9.366335       7.991682       6.655470       5.062765
max                17.866968      10.553695      10.054707       8.750156

              whites      nonwhites      hispanics         asians  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        6.390700       5.622829       4.886818       4.885546
std         1.855341       2.080846       1.925889       2.101994
min         0.000000       0.000000       0.000000       0.000000
25%         6.033692       4.773838       3.933408       3.906737
50%         6.958466       6.063407       5.348966       5.286745
75%         7.492790       7.047009       6.210896       6.424274
max         9.882580       9.859282       8.948419       9.559209

             renters        singles    two_persons     three_plus  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        4.052805       4.558750       4.774927       5.060476
std         1.519068       1.708723       1.671906       1.730334
min         0.000000       0.000000       0.000000       0.000000
25%         3.515182       3.957136       4.270985       4.539877
50%         4.429089       4.860453       5.188659       5.569474
75%         5.041246       5.582700       5.798198       6.180494
max         7.257352       9.623764       8.827480       8.037095

                sfdu     ave_hhsize           jobs         jobs3k  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        5.343466       1.248253       5.301719       6.983664
std         1.749082       0.255478       2.241742       2.054048
min         0.000000       0.000000       0.000000       0.000000
25%         4.958143       1.199903       4.195786       6.308166
50%         5.906678       1.279776       5.800490       7.448098
75%         6.438469       1.367688       6.826318       8.248075
max         8.095656       2.079442      11.713364      12.193686

          ave_income
count  226060.000000
mean       10.934129
std         1.963387
min         0.000000
25%        11.037576
50%        11.259076
75%        11.488537
max        13.171155
Time to execute step 'neighborhood_vars': 117.18 s
Total time to execute iteration 1 with iteration value None: 117.18 s

In [4]:
%%capture
orca.run(["rsh_simulate", "rrh_simulate", "nrh_simulate"])

## HLCM for owners

In [ ]:
# The model expression is in hlcm_owner.yaml and it's registered in models.py

In [5]:
orca.run(["hlcm_owner_estimate"])

Running step 'hlcm_owner_estimate'
LCM RESULTS FOR SEGMENT 1

Null Log-liklihood: -68253.227
Log-liklihood at convergence: -65822.450
Log-liklihood Ratio: 0.036

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    2.240    |   0.092    |  24.298 |
| np.log1p(sqft_per_unit)         |    1.027    |   0.046    |  22.389 |
| np.log1p(ave_lot_size_per_unit) |    -0.417   |   0.143    |  -2.928 |
| ave_income                      |    -1.531   |   0.052    | -29.198 |
| np.log1p(persons * ave_hhsize)  |    3.000    |   0.022    | 137.327 |
| np.log1p(white * pct_white)     |    3.000    |   0.009    | 350.309 |
| np.log1p(black * pct_black)     |    3.000    |   0.011    | 271.533 |
| np.log1p(hisp * pct_hisp)       |    3.000    |   0.007    | 425.629 |
| np.log1p(asian * pct_asian)     |    3.000    |   0.010    | 299.071 |
| jobs                            |    -0.045   |   0.006    |  -7.523 |
| autoPeakTotal                   |    -1.111   |   0.065    | -17.174 |
| transitPeakTotal                |    -0.039   |   0.005    |  -7.412 |
| autoOffPeakRetail               |    0.958    |   0.065    |  14.786 |
+---------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 2

Null Log-liklihood: -68202.570
Log-liklihood at convergence: -65849.553
Log-liklihood Ratio: 0.035

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    1.597    |   0.091    |  17.540 |
| np.log1p(sqft_per_unit)         |    0.714    |   0.046    |  15.536 |
| np.log1p(ave_lot_size_per_unit) |    -0.636   |   0.141    |  -4.499 |
| ave_income                      |    -1.030   |   0.053    | -19.487 |
| np.log1p(persons * ave_hhsize)  |    3.000    |   0.021    | 145.914 |
| np.log1p(white * pct_white)     |    3.000    |   0.009    | 343.248 |
| np.log1p(black * pct_black)     |    3.000    |   0.012    | 259.781 |
| np.log1p(hisp * pct_hisp)       |    3.000    |   0.007    | 417.751 |
| np.log1p(asian * pct_asian)     |    3.000    |   0.010    | 295.778 |
| jobs                            |    -0.039   |   0.006    |  -6.521 |
| autoPeakTotal                   |    -1.112   |   0.064    | -17.433 |
| transitPeakTotal                |    -0.040   |   0.005    |  -7.631 |
| autoOffPeakRetail               |    0.969    |   0.063    |  15.265 |
+---------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 3

Null Log-liklihood: -68368.357
Log-liklihood at convergence: -65873.045
Log-liklihood Ratio: 0.036

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    0.459    |   0.095    |  4.811  |
| np.log1p(sqft_per_unit)         |    0.234    |   0.048    |  4.873  |
| np.log1p(ave_lot_size_per_unit) |    -0.349   |   0.149    |  -2.340 |
| ave_income                      |    0.097    |   0.055    |  1.757  |
| np.log1p(persons * ave_hhsize)  |    3.000    |   0.021    | 144.146 |
| np.log1p(white * pct_white)     |    3.000    |   0.008    | 354.961 |
| np.log1p(black * pct_black)     |    3.000    |   0.012    | 256.020 |
| np.log1p(hisp * pct_hisp)       |    3.000    |   0.007    | 417.030 |
| np.log1p(asian * pct_asian)     |    3.000    |   0.010    | 311.162 |
| jobs                            |    -0.025   |   0.006    |  -4.243 |
| autoPeakTotal                   |    -0.712   |   0.063    | -11.274 |
| transitPeakTotal                |    -0.036   |   0.005    |  -6.919 |
| autoOffPeakRetail               |    0.607    |   0.064    |  9.455  |
+---------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 4

Null Log-liklihood: -68244.017
Log-liklihood at convergence: -64059.382
Log-liklihood Ratio: 0.061

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    0.658    |   0.093    |  7.078  |
| np.log1p(sqft_per_unit)         |    0.340    |   0.047    |  7.269  |
| np.log1p(ave_lot_size_per_unit) |    0.277    |   0.145    |  1.908  |
| ave_income                      |    1.416    |   0.054    |  26.248 |
| np.log1p(persons * ave_hhsize)  |    1.770    |   0.022    |  79.175 |
| np.log1p(white * pct_white)     |    3.000    |   0.011    | 274.077 |
| np.log1p(black * pct_black)     |    3.000    |   0.015    | 202.535 |
| np.log1p(hisp * pct_hisp)       |    3.000    |   0.009    | 333.146 |
| np.log1p(asian * pct_asian)     |    3.000    |   0.012    | 252.718 |
| jobs                            |    -0.011   |   0.005    |  -1.956 |
| autoPeakTotal                   |    -0.373   |   0.064    |  -5.827 |
| transitPeakTotal                |    -0.029   |   0.005    |  -5.882 |
| autoOffPeakRetail               |    0.350    |   0.067    |  5.248  |
+---------------------------------+-------------+------------+---------+
Time to execute step 'hlcm_owner_estimate': 60.88 s
Total time to execute iteration 1 with iteration value None: 60.88 s

In [6]:
# to try variations, create a new yaml file and run this to register it
# to save variations, create a new yaml file and run this to register it
from urbansim.utils import misc
from urbansim import accounts
from urbansim.developer import sqftproforma
from urbansim_defaults import models
from urbansim_defaults import utils



@orca.step("hlcm_owner_estimate_NEW")
def hlcm_owner_estimate_NEW(households, residential_units, unit_aggregations):
    return utils.lcm_estimate("hlcm_owner_NEW.yaml", households, "unit_id",
                              residential_units, unit_aggregations)

orca.run(["hlcm_owner_estimate_NEW"])

Running step 'hlcm_owner_estimate_NEW'
LCM RESULTS FOR SEGMENT 1

Null Log-liklihood: -68179.545
Log-liklihood at convergence: -67423.845
Log-liklihood Ratio: 0.011

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    1.960    |   0.086    |  22.710 |
| np.log1p(sqft_per_unit)         |    0.842    |   0.042    |  19.880 |
| np.log1p(ave_lot_size_per_unit) |    -0.476   |   0.144    |  -3.314 |
| ave_income                      |    -1.163   |   0.042    | -27.691 |
| np.log1p(persons * ave_hhsize)  |    3.000    |   0.021    | 143.956 |
| jobs                            |    -0.024   |   0.006    |  -4.093 |
| autoPeakTotal                   |    -1.204   |   0.064    | -18.686 |
| transitPeakTotal                |    -0.027   |   0.005    |  -5.288 |
| autoOffPeakRetail               |    1.088    |   0.065    |  16.857 |
+---------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 2

Null Log-liklihood: -68188.755
Log-liklihood at convergence: -67312.458
Log-liklihood Ratio: 0.013

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    1.341    |   0.090    |  14.884 |
| np.log1p(sqft_per_unit)         |    0.567    |   0.045    |  12.537 |
| np.log1p(ave_lot_size_per_unit) |    -0.765   |   0.145    |  -5.290 |
| ave_income                      |    -0.883   |   0.051    | -17.271 |
| np.log1p(persons * ave_hhsize)  |    3.000    |   0.019    | 154.697 |
| jobs                            |    -0.018   |   0.006    |  -2.995 |
| autoPeakTotal                   |    -1.065   |   0.063    | -16.935 |
| transitPeakTotal                |    -0.036   |   0.005    |  -6.900 |
| autoOffPeakRetail               |    0.928    |   0.063    |  14.750 |
+---------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 3

Null Log-liklihood: -68239.412
Log-liklihood at convergence: -67128.393
Log-liklihood Ratio: 0.016

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    0.194    |   0.095    |  2.039  |
| np.log1p(sqft_per_unit)         |    0.108    |   0.048    |  2.259  |
| np.log1p(ave_lot_size_per_unit) |    -0.623   |   0.150    |  -4.145 |
| ave_income                      |    0.178    |   0.055    |  3.247  |
| np.log1p(persons * ave_hhsize)  |    3.000    |   0.020    | 149.995 |
| jobs                            |    -0.026   |   0.006    |  -4.458 |
| autoPeakTotal                   |    -0.563   |   0.063    |  -8.899 |
| transitPeakTotal                |    -0.031   |   0.005    |  -5.924 |
| autoOffPeakRetail               |    0.490    |   0.064    |  7.630  |
+---------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 4

Null Log-liklihood: -68299.279
Log-liklihood at convergence: -65268.835
Log-liklihood Ratio: 0.044

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_price)     |    0.649    |   0.092    |  7.035  |
| np.log1p(sqft_per_unit)         |    0.346    |   0.047    |  7.412  |
| np.log1p(ave_lot_size_per_unit) |    -0.312   |   0.143    |  -2.176 |
| ave_income                      |    1.357    |   0.054    |  25.027 |
| np.log1p(persons * ave_hhsize)  |    1.988    |   0.021    |  93.643 |
| jobs                            |    -0.005   |   0.005    |  -0.845 |
| autoPeakTotal                   |    -0.389   |   0.064    |  -6.097 |
| transitPeakTotal                |    -0.037   |   0.005    |  -7.469 |
| autoOffPeakRetail               |    0.383    |   0.066    |  5.785  |
+---------------------------------+-------------+------------+---------+
Time to execute step 'hlcm_owner_estimate_NEW': 48.42 s
Total time to execute iteration 1 with iteration value None: 48.42 s

In [12]:
@orca.step("hlcm_owner_estimate_NEW1")
def hlcm_owner_estimate_NEW(households, residential_units, unit_aggregations):
    return utils.lcm_estimate("hlcm_owner_NEW1.yaml", households, "unit_id",
                              residential_units, unit_aggregations)

orca.run(["hlcm_owner_estimate_NEW1"])

Running step 'hlcm_owner_estimate_NEW1'
LCM RESULTS FOR SEGMENT 1

Null Log-liklihood: -68165.729
Log-liklihood at convergence: -68032.972
Log-liklihood Ratio: 0.002

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    -0.581   |   0.013    | -43.484 |
| np.log1p(sqft_per_unit)     |    -0.240   |   0.011    | -21.718 |
+-----------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 2

Null Log-liklihood: -68216.386
Log-liklihood at convergence: -67987.864
Log-liklihood Ratio: 0.003

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    -0.752   |   0.013    | -56.247 |
| np.log1p(sqft_per_unit)     |    -0.276   |   0.011    | -25.014 |
+-----------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 3

Null Log-liklihood: -68285.464
Log-liklihood at convergence: -68084.140
Log-liklihood Ratio: 0.003

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    -0.552   |   0.013    | -41.297 |
| np.log1p(sqft_per_unit)     |    -0.013   |   0.011    |  -1.147 |
+-----------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 4

Null Log-liklihood: -68317.700
Log-liklihood at convergence: -66944.017
Log-liklihood Ratio: 0.020

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    1.498    |   0.013    | 114.712 |
| np.log1p(sqft_per_unit)     |    1.093    |   0.011    | 102.280 |
+-----------------------------+-------------+------------+---------+
Time to execute step 'hlcm_owner_estimate_NEW1': 29.98 s
Total time to execute iteration 1 with iteration value None: 29.98 s

In [14]:
@orca.step("hlcm_owner_estimate_NEW2")
def hlcm_owner_estimate_NEW(households, residential_units, unit_aggregations):
    return utils.lcm_estimate("hlcm_owner_NEW2.yaml", households, "unit_id",
                              residential_units, unit_aggregations)

orca.run(["hlcm_owner_estimate_NEW2"])

Running step 'hlcm_owner_estimate_NEW2'
LCM RESULTS FOR SEGMENT 1

Null Log-liklihood: -68156.519
Log-liklihood at convergence: -67889.801
Log-liklihood Ratio: 0.004

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    -0.241   |   0.024    |  -9.843 |
| np.log1p(sqft_per_unit)     |    -0.174   |   0.014    | -12.615 |
| jobs                        |    -0.035   |   0.006    |  -5.893 |
| autoPeakTotal               |    -0.480   |   0.054    |  -8.973 |
| transitPeakTotal            |    0.006    |   0.005    |  1.156  |
| autoOffPeakRetail           |    0.449    |   0.056    |  8.004  |
+-----------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 2

Null Log-liklihood: -68202.570
Log-liklihood at convergence: -67740.259
Log-liklihood Ratio: 0.007

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    -0.292   |   0.025    | -11.843 |
| np.log1p(sqft_per_unit)     |    -0.185   |   0.014    | -13.314 |
| jobs                        |    -0.040   |   0.006    |  -6.986 |
| autoPeakTotal               |    -0.650   |   0.052    | -12.582 |
| transitPeakTotal            |    -0.004   |   0.005    |  -0.823 |
| autoOffPeakRetail           |    0.640    |   0.054    |  11.832 |
+-----------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 3

Null Log-liklihood: -68267.043
Log-liklihood at convergence: -67614.740
Log-liklihood Ratio: 0.010

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    -0.055   |   0.025    |  -2.147 |
| np.log1p(sqft_per_unit)     |    0.031    |   0.014    |  2.250  |
| jobs                        |    -0.052   |   0.006    |  -9.242 |
| autoPeakTotal               |    -0.558   |   0.052    | -10.789 |
| transitPeakTotal            |    -0.044   |   0.005    |  -9.370 |
| autoOffPeakRetail           |    0.608    |   0.055    |  11.088 |
+-----------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 4

Null Log-liklihood: -68313.095
Log-liklihood at convergence: -65946.379
Log-liklihood Ratio: 0.035

+-----------------------------+-------------+------------+---------+
| Component                   | Coefficient | Std. Error | T-Score |
+-----------------------------+-------------+------------+---------+
| np.log1p(residential_price) |    1.883    |   0.026    |  73.816 |
| np.log1p(sqft_per_unit)     |    1.041    |   0.014    |  73.318 |
| jobs                        |    -0.027   |   0.005    |  -5.195 |
| autoPeakTotal               |    -0.681   |   0.054    | -12.596 |
| transitPeakTotal            |    -0.096   |   0.004    | -21.949 |
| autoOffPeakRetail           |    0.778    |   0.058    |  13.324 |
+-----------------------------+-------------+------------+---------+
Time to execute step 'hlcm_owner_estimate_NEW2': 29.13 s
Total time to execute iteration 1 with iteration value None: 29.13 s

## HLCM for renters

In [29]:
orca.run(["hlcm_renter_estimate"])

Running step 'hlcm_renter_estimate'
LCM RESULTS FOR SEGMENT 1

Null Log-liklihood: -68985.449
Log-liklihood at convergence: -63703.556
Log-liklihood Ratio: 0.077

+---------------------------------+-------------+------------+----------+
| Component                       | Coefficient | Std. Error | T-Score  |
+---------------------------------+-------------+------------+----------+
| np.log1p(residential_rent)      |    0.488    |   0.076    |  6.396   |
| np.log1p(sqft_per_unit)         |    0.084    |   0.024    |  3.554   |
| np.log1p(ave_lot_size_per_unit) |    1.063    |   0.117    |  9.059   |
| ave_income                      |    -1.454   |   0.032    | -46.069  |
| np.log1p(persons * ave_hhsize)  |    0.198    |   0.020    |  9.965   |
| np.log1p(white * pct_white)     |    9.169    |   0.007    | 1318.078 |
| np.log1p(black * pct_black)     |    5.386    |   0.009    | 619.337  |
| np.log1p(hisp * pct_hisp)       |    6.267    |   0.006    | 1001.648 |
| np.log1p(asian * pct_asian)     |    5.374    |   0.008    | 641.331  |
| jobs                            |    0.022    |   0.008    |  2.685   |
| autoPeakTotal                   |    0.463    |   0.054    |  8.634   |
| transitPeakTotal                |    0.048    |   0.006    |  8.139   |
| autoOffPeakRetail               |    -0.437   |   0.059    |  -7.425  |
+---------------------------------+-------------+------------+----------+
LCM RESULTS FOR SEGMENT 2

Null Log-liklihood: -68925.582
Log-liklihood at convergence: -66125.000
Log-liklihood Ratio: 0.041

+---------------------------------+-------------+------------+----------+
| Component                       | Coefficient | Std. Error | T-Score  |
+---------------------------------+-------------+------------+----------+
| np.log1p(residential_rent)      |    0.174    |   0.076    |  2.276   |
| np.log1p(sqft_per_unit)         |    -0.017   |   0.024    |  -0.721  |
| np.log1p(ave_lot_size_per_unit) |    0.202    |   0.106    |  1.908   |
| ave_income                      |    -0.839   |   0.032    | -26.212  |
| np.log1p(persons * ave_hhsize)  |    0.474    |   0.019    |  24.471  |
| np.log1p(white * pct_white)     |    9.244    |   0.006    | 1464.798 |
| np.log1p(black * pct_black)     |    3.924    |   0.009    | 448.839  |
| np.log1p(hisp * pct_hisp)       |    5.820    |   0.006    | 965.782  |
| np.log1p(asian * pct_asian)     |    4.598    |   0.008    | 587.814  |
| jobs                            |    -0.000   |   0.008    |  -0.037  |
| autoPeakTotal                   |    0.459    |   0.054    |  8.422   |
| transitPeakTotal                |    0.015    |   0.006    |  2.794   |
| autoOffPeakRetail               |    -0.359   |   0.059    |  -6.067  |
+---------------------------------+-------------+------------+----------+
LCM RESULTS FOR SEGMENT 3

Null Log-liklihood: -68879.530
Log-liklihood at convergence: -66697.220
Log-liklihood Ratio: 0.032

+---------------------------------+-------------+------------+----------+
| Component                       | Coefficient | Std. Error | T-Score  |
+---------------------------------+-------------+------------+----------+
| np.log1p(residential_rent)      |    0.768    |   0.082    |  9.404   |
| np.log1p(sqft_per_unit)         |    0.130    |   0.025    |  5.222   |
| np.log1p(ave_lot_size_per_unit) |    -0.758   |   0.111    |  -6.846  |
| ave_income                      |    -0.155   |   0.039    |  -4.005  |
| np.log1p(persons * ave_hhsize)  |    0.940    |   0.020    |  47.245  |
| np.log1p(white * pct_white)     |    8.908    |   0.008    | 1182.424 |
| np.log1p(black * pct_black)     |    3.636    |   0.010    | 349.770  |
| np.log1p(hisp * pct_hisp)       |    5.094    |   0.007    | 762.927  |
| np.log1p(asian * pct_asian)     |    4.854    |   0.009    | 565.542  |
| jobs                            |    -0.027   |   0.008    |  -3.506  |
| autoPeakTotal                   |    0.934    |   0.058    |  16.201  |
| transitPeakTotal                |    -0.019   |   0.005    |  -3.657  |
| autoOffPeakRetail               |    -0.617   |   0.063    |  -9.762  |
+---------------------------------+-------------+------------+----------+
LCM RESULTS FOR SEGMENT 4

Null Log-liklihood: -68773.612
Log-liklihood at convergence: -64676.462
Log-liklihood Ratio: 0.060

+---------------------------------+-------------+------------+---------+
| Component                       | Coefficient | Std. Error | T-Score |
+---------------------------------+-------------+------------+---------+
| np.log1p(residential_rent)      |    1.011    |   0.075    |  13.517 |
| np.log1p(sqft_per_unit)         |    0.175    |   0.024    |  7.451  |
| np.log1p(ave_lot_size_per_unit) |    -1.132   |   0.109    | -10.389 |
| ave_income                      |    1.197    |   0.036    |  33.641 |
| np.log1p(persons * ave_hhsize)  |    0.030    |   0.020    |  1.448  |
| np.log1p(white * pct_white)     |    8.032    |   0.009    | 928.342 |
| np.log1p(black * pct_black)     |    3.253    |   0.013    | 258.123 |
| np.log1p(hisp * pct_hisp)       |    3.792    |   0.008    | 486.235 |
| np.log1p(asian * pct_asian)     |    4.310    |   0.010    | 449.356 |
| jobs                            |    -0.028   |   0.007    |  -3.917 |
| autoPeakTotal                   |    1.622    |   0.061    |  26.596 |
| transitPeakTotal                |    -0.008   |   0.005    |  -1.673 |
| autoOffPeakRetail               |    -1.268   |   0.069    | -18.390 |
+---------------------------------+-------------+------------+---------+
Time to execute step 'hlcm_renter_estimate': 105.59 s
Total time to execute iteration 1 with iteration value None: 105.59 s

In [5]:
for a in list(df.columns.values):
    print "%s, %d" % (a, len(df[df[a].isnull()]))

parcel_id, 0
residential_units, 0
residential_sqft, 0
non_residential_sqft, 0
building_sqft, 0
stories, 0
year_built, 0
redfin_sale_year, 0
building_type_id, 0
residential_price, 0
non_residential_price, 0
zone_id, 0
residential_rent, 0
sqft_per_job, 0
lot_size_per_unit, 0
vacant_job_spaces, 0
vacant_residential_units, 0
general_type, 0
sqft_per_unit, 0
job_spaces, 0
node_id, 0

# get variable names of each orca.table:

## 1.units_aggregations:buildings

In [8]:
orca.get_injectable('unit_aggregations')[0].to_frame().describe()

,parcel_id,residential_units,residential_sqft,non_residential_sqft,building_sqft,stories,year_built,redfin_sale_year,building_type_id,residential_price,...,zone_id,residential_rent,sqft_per_job,lot_size_per_unit,vacant_job_spaces,vacant_residential_units,node_id,base_price_per_sqft,job_spaces,sqft_per_unit
count,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288,1841288.000000,1841288,...,1841288.000000,1841288,1794938.000000,1.841288e+06,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000
mean,1012181.855456,1.512957,2555.752946,1189.012710,3555.140902,1.214768,1965.502413,2012,1.742778,0,...,822.607416,0,405.491496,5.021285e+04,0.369858,0.071124,125537.823235,290.026722,2.027393,1825.815012
std,592975.033646,6.302781,29116.786991,23914.761611,34053.945683,0.557437,25.014873,0,2.425943,0,...,412.618491,0,49.563977,8.047316e+05,25.709189,0.684230,88114.671062,150.074783,35.532501,1052.321849
min,26.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1790.000000,2012,0.000000,0,...,1.000000,0,355.000000,0.000000e+00,-25530.000000,0.000000,8.000000,27.442371,0.000000,400.000000
25%,496121.750000,1.000000,1200.000000,0.000000,1260.000000,1.000000,1952.000000,2012,1.000000,0,...,488.000000,0,400.000000,3.640196e+03,0.000000,0.000000,56018.000000,204.374383,0.000000,1200.000000
50%,1002024.500000,1.000000,1674.000000,0.000000,1790.000000,1.000000,1966.000000,2012,1.000000,0,...,833.000000,0,400.000000,6.113516e+03,0.000000,0.000000,121294.000000,266.049383,0.000000,1582.000000
75%,1531020.250000,1.000000,2400.000000,0.000000,2496.000000,1.000000,1983.000000,2012,1.000000,0,...,1186.000000,0,400.000000,9.032667e+03,0.000000,0.000000,168436.000000,344.938164,0.000000,2115.000000
max,2048562.000000,1909.000000,14580000.000000,20405104.000000,14580000.000000,59.000000,2015.000000,2012,16.000000,0,...,1454.000000,0,1161.000000,4.469411e+08,5841.000000,294.000000,354685.000000,9413.020833,11985.000000,6000.000000

In [18]:
print orca.get_table('buildings').local_columns
print [p[1] for p in orca.list_columns() if p[0]=='buildings']

['parcel_id', 'residential_units', 'residential_sqft', 'non_residential_sqft', 'building_sqft', 'stories', 'year_built', 'redfin_sale_year', 'building_type_id', 'residential_price', 'non_residential_price']
['sqft_per_unit', 'node_id', 'base_price_per_sqft', 'residential_price', 'vacant_residential_units', 'residential_rent', 'general_type', 'vacant_job_spaces', 'sqft_per_job', 'lot_size_per_unit', 'job_spaces', 'zone_id']

## 2.units_aggregations:nodes

In [9]:
orca.get_injectable('unit_aggregations')[1].to_frame().describe()

,sum_residential_units,sum_nonresidential_units,ave_sqft_per_unit,ave_lot_size_per_unit,population,poor,blacks,whites,nonwhites,hispanics,...,pct_nonwhite,pct_renters,pct_hisp,pct_three_plus,poverty_rate,pct_singles,pct_white,pct_black,pct_asian,pct_two_persons
count,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,...,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000,226060.000000
mean,5.959514,5.270251,7.233392,8.929344,6.825261,5.364635,3.762337,6.390700,5.622829,4.886818,...,77.330055,55.458954,66.716797,69.822517,0.741198,62.777218,90.669205,49.998253,66.096626,65.846504
std,1.829714,2.601458,1.271166,1.933722,1.974621,1.966658,1.985225,1.855341,2.080846,1.925889,...,20.561854,15.855748,20.140403,16.220998,0.192358,17.255050,17.063114,22.760757,23.049235,15.953374
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.517122,4.066589,7.258171,8.563902,6.400006,4.527863,2.571602,6.033692,4.773838,3.933408,...,73.532314,53.581539,62.137342,70.693205,0.708147,59.595239,91.392118,40.253651,59.882716,65.274340
50%,6.443733,6.024277,7.414018,8.892104,7.388415,5.782141,3.990696,6.958466,6.063407,5.348966,...,83.107975,59.568195,72.480965,75.191395,0.792611,66.101707,94.608597,53.508165,72.589359,70.296059
75%,7.027597,7.063817,7.592335,9.366335,7.991682,6.655470,5.062765,7.492790,7.047009,6.210896,...,89.667198,64.598532,78.506018,77.389826,0.848285,72.017691,97.029245,64.352228,81.463110,73.786448
max,10.149053,11.929914,8.699681,17.866968,10.553695,10.054707,8.750156,9.882580,9.859282,8.948419,...,100.000000,100.000000,100.000000,82.525452,1.000000,100.000000,100.000000,100.000000,100.000000,83.738724

In [17]:
print orca.get_table('nodes').local_columns
print [p[1] for p in orca.list_columns() if p[0]=='nodes']

['sum_residential_units', 'sum_nonresidential_units', 'ave_sqft_per_unit', 'ave_lot_size_per_unit', 'population', 'poor', 'blacks', 'whites', 'nonwhites', 'hispanics', 'asians', 'renters', 'singles', 'two_persons', 'three_plus', 'sfdu', 'ave_hhsize', 'jobs', 'jobs3k', 'ave_income']
['pct_nonwhite', 'pct_two_persons', 'pct_asian', 'pct_black', 'pct_three_plus', 'pct_renters', 'pct_white', 'pct_hisp', 'pct_singles', 'poverty_rate']

## 3.units_aggregations:logsums

In [10]:
orca.get_injectable('unit_aggregations')[2].to_frame().describe()

,autoPeakRetail,autoPeakTotal,autoOffPeakRetail,autoOffPeakTotal,transitPeakRetail,transitPeakTotal,transitOffPeakRetail,transitOffPeakTotal,nonMotorizedRetail,nonMotorizedTotal
count,1454.000000,1454.000000,1454.000000,1454.000000,1454.000000,1454.00000,1454.000000,1454.000000,1454.000000,1454.000000
mean,9.496202,11.806047,9.653639,11.982596,2.985252,4.79603,2.743929,4.481701,4.154613,6.375895
std,0.716751,0.814177,0.681443,0.767812,2.254598,3.04495,2.249737,3.061722,1.816843,2.078067
min,3.586400,6.264300,3.647300,6.298600,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,9.248075,11.482000,9.473125,11.757350,0.895725,2.45195,0.462200,1.830250,3.217250,5.525550
50%,9.714450,12.041550,9.871800,12.227450,2.949400,5.14515,2.560700,4.645250,4.416500,6.607150
75%,9.916125,12.313925,10.056975,12.449500,4.597975,7.07795,4.393000,6.776350,5.329825,7.502800
max,10.584800,13.082800,10.586100,13.077800,8.514900,11.18470,8.403400,11.064200,8.743100,11.452400

In [16]:
print orca.get_table('logsums').local_columns
print [p[1] for p in orca.list_columns() if p[0]=='logsums']

['autoPeakRetail', 'autoPeakTotal', 'autoOffPeakRetail', 'autoOffPeakTotal', 'transitPeakRetail', 'transitPeakTotal', 'transitOffPeakRetail', 'transitOffPeakTotal', 'nonMotorizedRetail', 'nonMotorizedTotal']
[]

## 4.households

In [11]:
orca.get_table('households').to_frame().describe()

,taz,serialno,puma5,income,persons,hht,unittype,noc,bldgsz,tenure,...,income_quartile,positive_income,node_id,black,asian,hisp,white,hhs3p,hhs1,hh_monthly_rent
count,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,...,2732722.000000,2732722.000000,2654829.000000,2732722.000000,2732722.000000,2732722.000000,2732722.000000,2732722,2732722,2732722
mean,751.134174,4923397.817272,2168.537679,77670.162133,2.581065,2.640939,0.076833,0.468948,3.528608,1.893538,...,2.496489,77673.227609,131652.891137,0.077111,0.166288,0.123539,0.655225,0.407958,0.290573,0
std,430.938788,2857497.525312,516.128215,81405.085003,1.605801,2.065958,0.365144,0.917211,2.516513,1.010827,...,1.115588,81401.982998,91855.069436,0.266767,0.372339,0.329055,0.475295,0.491455,0.454027,0
min,1.000000,20.000000,1000.000000,-20000.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,8.000000,0.000000,0.000000,0.000000,0.000000,False,False,0
25%,372.000000,2463830.000000,2104.000000,26500.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,...,1.000000,26500.000000,58955.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
50%,762.000000,4901786.000000,2303.000000,58000.000000,2.000000,1.000000,0.000000,0.000000,2.000000,2.000000,...,2.000000,58000.000000,126662.000000,0.000000,0.000000,0.000000,1.000000,0,0,0
75%,1144.000000,7361646.000000,2410.000000,100000.000000,4.000000,4.000000,0.000000,1.000000,5.000000,3.000000,...,3.000000,100000.000000,172506.000000,0.000000,0.000000,0.000000,1.000000,1,1,0
max,1454.000000,9999899.000000,2714.000000,1968504.000000,25.000000,7.000000,2.000000,12.000000,10.000000,4.000000,...,4.000000,1968504.000000,354681.000000,1.000000,1.000000,1.000000,1.000000,True,True,0

In [10]:
hh=orca.get_table('households').to_frame()

hh['income_quartile'].describe()

count    2732722.000000
mean           2.496489
std            1.115588
min            1.000000
25%            1.000000
50%            2.000000
75%            3.000000
max            4.000000
Name: income_quartile, dtype: float64

In [15]:
print orca.get_table('households').local_columns
print [p[1] for p in orca.list_columns() if p[0]=='households']

['taz', 'serialno', 'puma5', 'income', 'persons', 'hht', 'unittype', 'noc', 'bldgsz', 'tenure', 'vehicl', 'hinccat1', 'hinccat2', 'hhagecat', 'hsizecat', 'hfamily', 'hunittype', 'hnoccat', 'hwrkrcat', 'h0004', 'h0511', 'h1215', 'h1617', 'h1824', 'h2534', 'h3549', 'h5064', 'h6579', 'h80up', 'hworkers', 'hwork_f', 'hwork_p', 'huniv', 'hnwork', 'hretire', 'hpresch', 'hschpred', 'hschdriv', 'htypdwel', 'hownrent', 'hadnwst', 'hadwpst', 'hadkids', 'bucketbin', 'originalpuma', 'hmultiunit', 'unit_id']
['zone', 'hhs1', 'hhs3p', 'white', 'asian', 'black', 'rent_burden', 'positive_income', 'hisp', 'hh_monthly_rent', 'income_quartile', 'hhsize_cat', 'hhsize_incq', 'node_id', 'zone_id', 'hhs2', 'building_id']

## 5. residential_units

In [12]:
orca.get_table('residential_units').to_frame().describe()

,building_id,deed_restricted,num_units,unit_num,unit_residential_price,unit_residential_rent,unit_tenure,vacant_units,submarket_id,node_id,zone_id,unit_annual_rent
count,2785789.000000,2785789.000000,2785789,2785789.000000,2785789,2785789,2785789.000000,2785789.00000,2785789.000000,2785789.000000,2785789.000000,2785789
mean,891357.487221,0.030000,1,13.384756,0,0,0.433554,0.04701,755.053844,131657.530226,755.053844,0
std,521134.867534,0.170587,0,66.336158,0,0,0.495565,0.21166,432.664916,92091.541399,432.664916,0
min,1.000000,0.000000,1,0.000000,0,0,0.000000,0.00000,1.000000,8.000000,1.000000,0
25%,425362.000000,0.000000,1,0.000000,0,0,0.000000,0.00000,375.000000,58699.000000,375.000000,0
50%,921607.000000,0.000000,1,0.000000,0,0,0.000000,0.00000,769.000000,126405.000000,769.000000,0
75%,1313254.000000,0.000000,1,2.000000,0,0,1.000000,0.00000,1148.000000,172513.000000,1148.000000,0
max,1841281.000000,1.000000,1,1908.000000,0,0,1.000000,1.00000,1454.000000,354681.000000,1454.000000,0

In [14]:
print orca.get_table('residential_units').local_columns
print [p[1] for p in orca.list_columns() if p[0]=='residential_units']

['building_id', 'deed_restricted', 'num_units', 'unit_num', 'unit_residential_price', 'unit_residential_rent', 'unit_tenure']
['zone_id', 'submarket_id', 'unit_annual_rent', 'vacant_units', 'node_id']

In [ ]:

# List columns within each table, both those coded in the table definition
# and those registered separately

for t in orca.list_tables():
    print t.upper()
    print "\nfrom table definition:"
    try:
        print orca.get_table(t).local_columns
    except Exception, e:
        print e
    print "\nregistered separately:"
    print [p[1] for p in orca.list_columns() if p[0]==t]
    print

In [7]:
utils.hedonic_estimate??

In [11]:
hh=orca.get_table('households').to_frame()

hh['unit_id'].describe()

count    2732722.000000
mean     1354325.967795
std       824851.746189
min           -1.000000
25%       638885.250000
50%      1354678.500000
75%      2071029.750000
max      2785788.000000
Name: unit_id, dtype: float64

## ols

In [16]:
import numpy as np
import pandas
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [23]:
a = orca.get_injectable('unit_aggregations')[0].to_frame()[['residential_price','sqft_per_unit','zone_id']]

In [24]:
a.head()

             residential_price  sqft_per_unit  zone_id
building_id
1                   392.395039            794      893
2                   284.880588           1600      893
3                   307.013146           1334      893
4                   319.807287           1220      893
5                   331.039145            892      893

In [26]:
a['zone_id'].describe()

count    1841288.000000
mean         822.607416
std          412.618491
min            1.000000
25%          488.000000
50%          833.000000
75%         1186.000000
max         1454.000000
Name: zone_id, dtype: float64

In [29]:
b = orca.get_injectable('unit_aggregations')[2].to_frame()[['autoPeakTotal', 'transitPeakTotal' , 'autoOffPeakRetail']]

In [34]:
b.head()

     autoPeakTotal  transitPeakTotal  autoOffPeakRetail  id
taz
1          13.0616           11.1182            10.5312   1
2          13.0557           10.8372            10.5185   2
3          13.0308           10.7516            10.4998   3
4          13.0801           11.1391            10.5458   4
5          13.0613           11.0483            10.5325   5

In [33]:
b['id'] = b.index

In [35]:
import pandas as pd
df=pd.merge(a, b, left_on='zone_id', right_on='id')

In [37]:
df.head()

,residential_price,sqft_per_unit,zone_id,autoPeakTotal,transitPeakTotal,autoOffPeakRetail,id
0,392.395039,794,893,12.0346,6.8494,9.9296,893
1,284.880588,1600,893,12.0346,6.8494,9.9296,893
2,307.013146,1334,893,12.0346,6.8494,9.9296,893
3,319.807287,1220,893,12.0346,6.8494,9.9296,893
4,331.039145,892,893,12.0346,6.8494,9.9296,893

In [39]:
model = ols(" np.log1p(residential_price)~ np.log1p(sqft_per_unit)+ autoPeakTotal + transitPeakTotal + autoOffPeakRetail", data=df).fit()

In [40]:
print model.summary()

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     np.log1p(residential_price)   R-squared:                       0.036
Model:                                     OLS   Adj. R-squared:                  0.036
Method:                          Least Squares   F-statistic:                 1.707e+04
Date:                         Mon, 29 Feb 2016   Prob (F-statistic):               0.00
Time:                                 02:28:15   Log-Likelihood:            -3.4723e+06
No. Observations:                      1841288   AIC:                         6.945e+06
Df Residuals:                          1841283   BIC:                         6.945e+06
Df Model:                                    4
Covariance Type:                     nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------------
Intercept                   5.7684      0.025    235.114      0.000         5.720     5.816
np.log1p(sqft_per_unit)    -0.4967      0.002   -209.771      0.000        -0.501    -0.492
autoPeakTotal               0.5237      0.006     82.122      0.000         0.511     0.536
transitPeakTotal           -0.0611      0.001   -106.993      0.000        -0.062    -0.060
autoOffPeakRetail          -0.2548      0.007    -36.555      0.000        -0.269    -0.241
==============================================================================
Omnibus:                  1136734.700   Durbin-Watson:                   0.914
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7875180.675
Skew:                          -3.109   Prob(JB):                         0.00
Kurtosis:                      11.000   Cond. No.                         361.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [46]:
c = model.resid
print type(c)
print len(c)
print len(a)

<class 'pandas.core.series.Series'>
1841288
1841288

In [57]:
bb = orca.get_injectable('unit_aggregations')[0]
orca.add_table('my_table', bb.to_frame())
orca.add_column('my_table', 'residual', c)

In [59]:
wrapped = orca.get_table('my_table')
wrapped.to_frame().describe()

,parcel_id,residential_units,residential_sqft,non_residential_sqft,building_sqft,stories,year_built,redfin_sale_year,building_type_id,residential_price,...,residential_rent,sqft_per_job,lot_size_per_unit,vacant_job_spaces,vacant_residential_units,node_id,base_price_per_sqft,job_spaces,sqft_per_unit,residual
count,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288,1841288.000000,1841288.000000,...,1841288.000000,1794938.000000,1.841288e+06,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1.841287e+06
mean,1012181.855456,1.512957,2555.752946,1189.012710,3555.140902,1.214768,1965.502413,2012,1.742778,373.780476,...,2.171768,405.491496,5.021285e+04,0.369858,0.071124,125537.823235,290.026722,2.027393,1825.815012,-9.277084e-08
std,592975.033646,6.302781,29116.786991,23914.761611,34053.945683,0.557437,25.014873,0,2.425943,154.304960,...,1.057609,49.563977,8.047316e+05,25.709189,0.684230,88114.671062,150.074783,35.532501,1052.321849,1.595008e+00
min,26.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1790.000000,2012,0.000000,0.000000,...,0.000000,355.000000,0.000000e+00,-25530.000000,0.000000,8.000000,27.442371,0.000000,400.000000,-6.807588e+00
25%,496121.750000,1.000000,1200.000000,0.000000,1260.000000,1.000000,1952.000000,2012,1.000000,308.641746,...,1.765167,400.000000,3.640196e+03,0.000000,0.000000,56018.000000,204.374383,0.000000,1200.000000,2.887279e-01
50%,1002024.500000,1.000000,1674.000000,0.000000,1790.000000,1.000000,1966.000000,2012,1.000000,379.832878,...,2.108319,400.000000,6.113516e+03,0.000000,0.000000,121294.000000,266.049383,0.000000,1582.000000,4.243543e-01
75%,1531020.250000,1.000000,2400.000000,0.000000,2496.000000,1.000000,1983.000000,2012,1.000000,458.638329,...,2.579237,400.000000,9.032667e+03,0.000000,0.000000,168436.000000,344.938164,0.000000,2115.000000,5.693116e-01
max,2048562.000000,1909.000000,14580000.000000,20405104.000000,14580000.000000,59.000000,2015.000000,2012,16.000000,1472.557766,...,21.624895,1161.000000,4.469411e+08,5841.000000,294.000000,354685.000000,9413.020833,11985.000000,6000.000000,2.066093e+00

In [55]:
bb.to_frame().describe()

,parcel_id,residential_units,residential_sqft,non_residential_sqft,building_sqft,stories,year_built,redfin_sale_year,building_type_id,residential_price,...,zone_id,residential_rent,sqft_per_job,lot_size_per_unit,vacant_job_spaces,vacant_residential_units,node_id,base_price_per_sqft,job_spaces,sqft_per_unit
count,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288,1841288.000000,1841288.000000,...,1841288.000000,1841288.000000,1794938.000000,1.841288e+06,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000
mean,1012181.855456,1.512957,2555.752946,1189.012710,3555.140902,1.214768,1965.502413,2012,1.742778,373.780476,...,822.607416,2.171768,405.491496,5.021285e+04,0.369858,0.071124,125537.823235,290.026722,2.027393,1825.815012
std,592975.033646,6.302781,29116.786991,23914.761611,34053.945683,0.557437,25.014873,0,2.425943,154.304960,...,412.618491,1.057609,49.563977,8.047316e+05,25.709189,0.684230,88114.671062,150.074783,35.532501,1052.321849
min,26.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1790.000000,2012,0.000000,0.000000,...,1.000000,0.000000,355.000000,0.000000e+00,-25530.000000,0.000000,8.000000,27.442371,0.000000,400.000000
25%,496121.750000,1.000000,1200.000000,0.000000,1260.000000,1.000000,1952.000000,2012,1.000000,308.641746,...,488.000000,1.765167,400.000000,3.640196e+03,0.000000,0.000000,56018.000000,204.374383,0.000000,1200.000000
50%,1002024.500000,1.000000,1674.000000,0.000000,1790.000000,1.000000,1966.000000,2012,1.000000,379.832878,...,833.000000,2.108319,400.000000,6.113516e+03,0.000000,0.000000,121294.000000,266.049383,0.000000,1582.000000
75%,1531020.250000,1.000000,2400.000000,0.000000,2496.000000,1.000000,1983.000000,2012,1.000000,458.638329,...,1186.000000,2.579237,400.000000,9.032667e+03,0.000000,0.000000,168436.000000,344.938164,0.000000,2115.000000
max,2048562.000000,1909.000000,14580000.000000,20405104.000000,14580000.000000,59.000000,2015.000000,2012,16.000000,1472.557766,...,1454.000000,21.624895,1161.000000,4.469411e+08,5841.000000,294.000000,354685.000000,9413.020833,11985.000000,6000.000000

In [51]:
bb.columns

['parcel_id',
 'residential_units',
 'residential_sqft',
 'non_residential_sqft',
 'building_sqft',
 'stories',
 'year_built',
 'redfin_sale_year',
 'building_type_id',
 'residential_price',
 'non_residential_price',
 'sqft_per_unit',
 'node_id',
 'base_price_per_sqft',
 'residential_price',
 'vacant_residential_units',
 'residential_rent',
 'general_type',
 'vacant_job_spaces',
 'sqft_per_job',
 'lot_size_per_unit',
 'job_spaces',
 'zone_id']

In [60]:
orca.list_tables()

['zones',
 'buildings',
 'residential_units',
 'jobs',
 'zoning_np',
 'household_controls',
 'craigslist',
 'parcels_geography',
 'development_projects',
 'households',
 'costar',
 'household_extras',
 'my_table',
 'homesales',
 'zoning_lookup',
 'employment_controls',
 'logsums',
 'nodes',
 'zoning_baseline',
 'parcels']

In [61]:
orca.add_column('buildings', 'residual', c)

In [71]:
orca.get_table('buildings').to_frame().describe()

,parcel_id,residential_units,residential_sqft,non_residential_sqft,building_sqft,stories,year_built,redfin_sale_year,building_type_id,residential_price,...,zone_id,sqft_per_job,residential_rent,residual,lot_size_per_unit,vacant_job_spaces,vacant_residential_units,job_spaces,base_price_per_sqft,sqft_per_unit
count,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288,1841288.000000,1841288.000000,...,1841288.000000,1794938.000000,1841288.000000,1.841287e+06,1.841288e+06,1841288.000000,1841288.000000,1841288.000000,1841288.000000,1841288.000000
mean,1012181.855456,1.512957,2555.752946,1189.012710,3555.140902,1.214768,1965.502413,2012,1.742778,373.780476,...,822.607416,405.491496,2.171768,-9.277084e-08,5.021285e+04,0.369858,0.071124,2.027393,290.026722,1825.815012
std,592975.033646,6.302781,29116.786991,23914.761611,34053.945683,0.557437,25.014873,0,2.425943,154.304960,...,412.618491,49.563977,1.057609,1.595008e+00,8.047316e+05,25.709189,0.684230,35.532501,150.074783,1052.321849
min,26.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1790.000000,2012,0.000000,0.000000,...,1.000000,355.000000,0.000000,-6.807588e+00,0.000000e+00,-25530.000000,0.000000,0.000000,27.442371,400.000000
25%,496121.750000,1.000000,1200.000000,0.000000,1260.000000,1.000000,1952.000000,2012,1.000000,308.641746,...,488.000000,400.000000,1.765167,2.887279e-01,3.640196e+03,0.000000,0.000000,0.000000,204.374383,1200.000000
50%,1002024.500000,1.000000,1674.000000,0.000000,1790.000000,1.000000,1966.000000,2012,1.000000,379.832878,...,833.000000,400.000000,2.108319,4.243543e-01,6.113516e+03,0.000000,0.000000,0.000000,266.049383,1582.000000
75%,1531020.250000,1.000000,2400.000000,0.000000,2496.000000,1.000000,1983.000000,2012,1.000000,458.638329,...,1186.000000,400.000000,2.579237,5.693116e-01,9.032667e+03,0.000000,0.000000,0.000000,344.938164,2115.000000
max,2048562.000000,1909.000000,14580000.000000,20405104.000000,14580000.000000,59.000000,2015.000000,2012,16.000000,1472.557766,...,1454.000000,1161.000000,21.624895,2.066093e+00,4.469411e+08,5841.000000,294.000000,11985.000000,9413.020833,6000.000000

In [72]:
orca.get_table('buildings').to_frame().columns

Index([u'parcel_id', u'residential_units', u'residential_sqft',
       u'non_residential_sqft', u'building_sqft', u'stories', u'year_built',
       u'redfin_sale_year', u'building_type_id', u'residential_price',
       u'non_residential_price', u'node_id', u'zone_id', u'general_type',
       u'sqft_per_job', u'residential_rent', u'residual', u'lot_size_per_unit',
       u'vacant_job_spaces', u'vacant_residential_units', u'job_spaces',
       u'base_price_per_sqft', u'sqft_per_unit'],
      dtype='object')

In [64]:
@orca.injectable("unit_aggregations")
def aggregations(settings):
    return [orca.get_table(tbl) for tbl in settings["unit_aggregations"]]

In [69]:
orca.get_injectable('unit_aggregations')[0].to_frame().head()

,parcel_id,residential_units,residential_sqft,non_residential_sqft,building_sqft,stories,year_built,redfin_sale_year,building_type_id,residential_price,...,general_type,sqft_per_job,residential_rent,residual,lot_size_per_unit,vacant_job_spaces,vacant_residential_units,job_spaces,base_price_per_sqft,sqft_per_unit
building_id,,,,,,,,,,,,,,,,,,,,,
1,69516,1,794,0,794,1,1939,2012,1,392.395039,...,Residential,400,2.119596,0.199321,5200.062320,0,0,0,113.297994,794
2,69517,1,1600,0,1600,1,1939,2012,1,284.880588,...,Residential,400,1.668151,0.183636,5200.063760,0,0,0,113.297994,1600
3,69518,1,1334,0,1334,1,1939,2012,1,307.013146,...,Residential,400,1.728666,0.179995,5200.029703,0,0,0,113.297994,1334
4,69519,1,1220,0,1220,1,1939,2012,1,319.807287,...,Residential,400,1.782273,0.059013,5200.144623,0,1,0,113.297994,1220
5,69520,1,892,0,892,1,1943,2012,1,331.039145,...,Residential,400,1.983620,0.077177,5200.027559,0,0,0,113.297994,892

In [70]:
orca.get_injectable('unit_aggregations')[0].to_frame().columns

Index([u'parcel_id', u'residential_units', u'residential_sqft',
       u'non_residential_sqft', u'building_sqft', u'stories', u'year_built',
       u'redfin_sale_year', u'building_type_id', u'residential_price',
       u'non_residential_price', u'node_id', u'zone_id', u'general_type',
       u'sqft_per_job', u'residential_rent', u'residual', u'lot_size_per_unit',
       u'vacant_job_spaces', u'vacant_residential_units', u'job_spaces',
       u'base_price_per_sqft', u'sqft_per_unit'],
      dtype='object')